body {
    background-color: aliceblue;
    font-family: Verdana;
}

h1 {
    text-align: center;
    font-size: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
}

li a {
    background-color: lightgray;
    margin: 5px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 14px;
    width: 75%;
}

.navigation {
}

li a:hover {
    color: azure;
    zoom: 1.1;
}

img {
    width: 450px;
    height: auto;
    margin-left: 155px;
    margin-top: 135px;
    float: left;
    padding-right: 95px;
}

.para {
    text-align: center;
    margin-top: 75px;
    background-color: floralwhite;
    padding: 2px;
    width: 535px;
    border-radius: 20px;
    float: left;
    margin-right: 80px;
}
