body {
    background-color: lightblue;
}
h1{
    text-align: center;
}
img{
    width: 250px;
    height: auto;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li a{
    background-color: lightgray;
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: white;
}
li a:hover{
    color: azure;
    zoom: 1.1;
}